.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 25rem;
  height: 100%;
  overflow-y: scroll;
  box-shadow: 2px 2px 50px rgb(43, 41, 41);
  background-color: #242c37;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;
  h2 {
    padding: 2rem;
    color: white;
    background-color: #242c37;
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  background-color: #242c37;
  transition: background 0.5s ease;
  img {
    width: 30%;
  }
  &:hover {
    background-color: #323d4d;
  }
}

.song-description {
  h3 {
    font-size: 0.7rem;
  }
  h2 {
    font-size: 0.8rem;
    background-color: transparent;
  }
  padding-left: 0.2rem;
  padding: 0px;
  background-color: transparent;
  word-wrap: break-word;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rbga(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background-color: #ea504a;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
  max-height: 10px;
  border: transparent;
}

.selected {
  background-color: #424e61;
}

.active-library {
  transform: translateX(0%);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
