.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

.time-control {
  width: 50%;
  display: flex;
  flex-direction: row;
  input {
    width: 100%;
    padding: 1rem;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
  }
  p {
    padding: 0rem 10px;
    font-size: 1rem;
  }
}

.play-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 30%;
  svg {
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
  }
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 0.5em;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  background: transparent;
  border: none;
}

.track {
  // background: violet;
  width: 100%;
  height: 1.2rem;
  position: relative;
  border-radius: 0.5em;
  overflow: hidden;
}

.animate-track {
  background-color: #151a21;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0%);
  pointer-events: none;
}

.author {
  text-align: center;
  bottom: 10px;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .time-control {
    width: 90%;
  }
  .play-control {
    width: 60%;
  }
  .author {
    font-size: 0.8rem;
  }
}
